.product-preview-card {
  &__title {
    font-style: bold;
    color: purple;
  }

  &__description {
    color: pink;
  }

  &__image {
    width: 15rem;
  }

}
.funnyGuy{
  width: 2rem;
  height: 2rem;
}

.chadApproval{
  font-size: 25px;
  color: green;
  font-family: cursive;
}