.product-preview-card {
  &__title {
    font-style: bold;
    color: purple;
  }

  &__description {
    color: pink;
  }

  &__image {
    width: 15rem;
  }

}
.funnyGuy{
  width: 2rem;
  height: 2rem;
}

.chadApproval{
  font-size: 25px;
  font-family: cursive;
  color: rgb(80, 73, 159);
}

.funny-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: -webkit-linear-gradient(0deg, rgb(23, 230, 157), rgb(186, 46, 221));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}