.home-page {
  &__title {
    color: red;
  }

  &__products {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

p, a, h1, h2, h3 {
  font-family: Helvetica, sans-serif;
}

.chadApproval {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

@media (prefers-color-scheme: dark) {

  body {
    background-color: rgb(36, 34, 37);
  }
  
  .home-page.adaptive {
    background-color: rgb(36, 34, 37);
  }

  h1.adaptive {
    color: rgb(217, 198, 235);
  }
  
  h2.adaptive, h3.adaptive {
    color: rgb(139, 115, 195);
  }
  
  p.adaptive, a.adaptive{
    color: rgb(80, 73, 159);
  }

  .navbar.adaptive {
    background-color: rgb(36, 34, 37);
  }
}
